.main {
	&__tabs {
		display: flex;
		justify-content: center;
		padding: 10px;
		margin-bottom: 32px;
	}
	&__tabs-content {
		display: flex;
		font-weight: 500;
		font-size: 28px;
		cursor: pointer;
	}
	&__tabs-movies {
		margin-right: 24px;
	}
	&__tabs-channels {
	}
}
.active {
	color: #E5261E;
	border-bottom: 2px solid #E5261E;
	padding-bottom: 9px;
}
